body {
    align-items: center;
}

#header {
    top: 0;
    position: fixed;
    display: flex;
    min-height: 75px;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    width: 100%;
}

#header-img {
    width: 300px;
}
#logo {
    width: 60vw;
}

nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
}

nav ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

form {
    display: grid;
    align-items: center;
    align-content: center;
}

.email {
    margin-left: 25%;
    margin-top: 7%;
    align-items: center
}

.email h2 {
    margin: 10px 40px;
    font-size: 2em;
    font-weight: 900;
}

#email {
    width: 40%;
    height: 30px;
    margin: 10px 120px;
}

#submit {
    margin: 10px 150px;
    background-color: yellow;
    padding: 0 20px;
    height: 40px;
    width: 30%;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.grid {
    display: flex;
    justify-items: center;
    justify-content: space-around;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    color: darkorange;

}

.description {
    flex-direction: column;
    height: 125px;
}

#how-it-works {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#how-it-works>iframe {
    max-width: 560px;
    width: 100%;
}

#pricing {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    height: 300px;
    width: 100%;
    margin-top: 10%;
}


.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.cards  > .title{
    background-color: #ddd;
    color: black;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}
.cards .containt {
    height: 70%;
    justify-content: center;
}
.cards h1 {
    font-size: 30px;
    text-align: center;
}

.cards h2 {
    font-size: 25px;
    text-align: center;
}

.containt p{
    text-align: center;
}
.containt input{
    align-self: center;
    margin: 10px 150px;
    background-color: yellow;
    padding: 0 20px;
    height: 40px;
    width: 30%;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}
.btn{
    display: grid;

    justify-content: center;
}

#footer{
    margin-top: 30px;
    background-color: #ddd;
    padding: 10px;
}
#footer ul {
    display: flex;
    justify-content: flex-end;
}
#footer li {
    padding: 0px 10px;
}
#footer p {
    margin-top: 5px;
    justify-content: flex-end;
    display: flex;
}