body {
    align-items: center;
}

#header {
    top: 0;
    position: fixed;
    display: flex;
    min-height: 75px;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    width: 100%;
}

#header-img {
    width: 300px;
}

nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
}

nav ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

form {
    display: grid;
    align-items: center;
    align-content: center;
}

.email {
    margin-left: 25%;
    margin-top: 7%;
    align-items: center
}

.email h2 {
    margin: 10px 40px;
    font-size: 2em;
    font-weight: 900;
}

#email {
    width: 40%;
    height: 30px;
    margin: 10px 120px;
}

#submit {
    margin: 10px 150px;
    background-color: yellow;
    padding: 0 20px;
    height: 40px;
    width: 30%;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.grid {
    display: flex;
    justify-items: center;
    justify-content: space-around;
}

.description {
    flex-direction: column;
    height: 125px;
}

#how-it-works {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#how-it-works>iframe {
    max-width: 560px;
    width: 100%;
}